* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
}

.card {
  margin: 32px;
  width: 18rem;
}
.card-button {
  align-self: flex-end;
}

.products_container {
  margin: 24px;
}

.shopping_cart {
  margin: 24px;
  margin-top: 120px;
}

.shopping_cart_container {
  display: flex;
}

.shopping_cart_button {
  margin-left: 12px;
}
